header
 background-color: #2980b9
 .navbar-brand
   color: #ffffff !important
 .nav-link
   color: #ffffff !important
   &:hover
     text-decoration: underline
 .active
   text-decoration: underline
 .navbar-collapse
   flex-basis: 100%
   @media(min-width: 992px)
     flex-basis: auto
 .navbar-toggler
   border-width: 0px

   .navbar-toggler-icon
     background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>")


